body {
  background-image: url(./pig-pattern-seamless-pigs-background-farm-animal-vector-27163766.webp);
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
}
button {
  align-self: center;
  margin-top: 30px;
  border-radius: 75px;
  width: 150px;
  height: 150px;
}

#user-input {
  width: 500px;
  height: 250px;
  font-size: 50px;
  text-align: center;
}

#user-output {

  text-align: center;
}



